/* Portada */

.container-info-cover{
    max-width: 600px;
    height: 200px;
    margin-top: 100px;
    margin-inline: auto;
    border-radius: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.container-info-cover h1{
    font-size: 30px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 20px;
    background: #935f23;
    border-radius: 50px;
    padding: 10px 25px;
    cursor: default;
}

.container-info-cover p{
    color: #935f23;
    font-size: 20px;
    font-weight: 300;
    font-size: 20px;
    font-weight: 500;
    cursor: default;
}

#icon-menu{
    right: 20px;
}

/* Contenedor de folletos */

.ctn-folleto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.folleto {
    width: 95%;
    border-radius: 12px;
    border: 1px solid #ccc;
    margin-top: 20px;
    background: #fff;
}

.folleto img{
    display: flex;
    align-items: baseline;
    justify-content: ;
    width: 200px;
    height: 150px;
    border-radius: 5px;
}

.contenido-folleto {
    padding: 20px;
}

.container-all .h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.contenido-folleto p{
    cursor: default;
}

p {
    margin-bottom: 10px;
}

.folleto-category {
    list-style: none;
    padding: 0;
    display: flex;
}

.folleto-category li {
    background-color: #f2f2f2;
    color: #333;
    padding: 5px 10px;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 6px;
    transition: all 300ms;
    cursor: default;
}

.folleto-category li:hover{
    transform: scale(1.05);
    opacity: 0.9;
}
